body
{
    margin: 0;
    padding: 0;
    background:url(../images/sp6.jpg);
    background-size: cover;
    background-position: center;
    font-size: 16px;
    color: #777;
    font-family: sans-serif;
    font-weight: 300;
}
a{
    text-decoration: none;
    background-color: transparent;
    color:#ededed;
}

.header {
    background-color:#000;
    color:#fff;
    border-color: #080808;
    min-height: 50px;
    border: 1px solid transparent;
}

.inner-header {
    width:80%;
    margin:auto;
}

.logo {
    float: left;
    height: 50px;
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
}

.header-link {
    float:right;
    font-size:14px;
    height: 50px;
    padding: 15px 15px;
    font-size:16px;
    font-weight: bold;
}


#login-box
{
    position: relative;
    color: #fff;
    margin: 5% auto;
    height: 650px;
    width: 450px;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}
.ron{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}


h1
{
    margin: 0 0 20px 0;
    font-weight: 300;
    font-size: 28px;
}


input[type="text"],
input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background-color:transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

input[type="number"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
::-webkit-input-placeholder {
  color: #fff;
}
input[type="submit"]
{
    margin-bottom: 28px;
    width: 180px;
    height: 40px;
    background: #1c8adb;
    border: none;
    border-radius: 20px;
    color: #fff;
    font-family: sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.2s ease;
    cursor: pointer;
    
}

input[type="submit"]:hover,
input[type="submit"]:focus
{
    background: #39dc79;
    transition: 0.2s ease;
}
input[type="submit"]:hover
{
    color: black;
}


.login-box a{
    text-decoration: none;
    font-size: 14px;
    color: #fff;
}
.login-box a:hover
{
    color: #39dc79;
}

footer {
    background-color: #000;
    color:#fff;
    font-size:14px;
}
